html, body {
    height: 100%;
    margin: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkgrey;
    color: darkgrey;
    text-align: center;
 }

 body {
     background-color: darkgrey;
 }
 

      