 /* .container-fluid {
     background-image: url(https://images.pexels.com/photos/952670/pexels-photo-952670.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
     
 } */
/* 
 .border-top{
     padding-top: 50px;
     border-style: none;
    
 } */

/*  */